/* ABSOLUTO */
*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* ABSOLUTO */

/* BODY */
body{
    background: linear-gradient(rgb(10, 45, 65),rgb(24, 104, 147));
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}
/* BODY */

/* HEADER */
header{
    margin-top: 20px;    
}
.header{
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 50px
}
.header h1{
    color: rgb(10, 45, 65);
}
#div_logo{
    margin-inline: 1vw;
    border-radius: 100%;
    background-color: #fff;
}
#div_logo img{
    height: 60px;
    border-radius: 50%;
}

/* NAV */
#div_nav{
    position: absolute;
    right: 0;
}
.div_nav a:hover{
    background-color: rgb(10, 45, 65);
    color: rgb(255, 255, 255);
}
#div_nav li{
    margin-inline: 5px;
    text-decoration: none;
    list-style: none;
}
nav ul{
    display: inline-flex;
}
nav a{
    color: rgb(10, 45, 65);
    text-decoration: none;
    padding: 5px;
    border-radius: 10%; 
    transition: background-color 0.5s;
}
/* NAV */
/* HEADER */

/* MAIN */
main{
    position: relative;
    margin-top: 2%;
}
#div_texto_main{
    text-align: center;
    color: white;
}
#div_main_index{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#div_texto_main p{
    margin-top: 10px;
    margin-bottom: 10px;
}
#div_img_main img{
    border-radius: 10px;
    box-shadow: 0 0 40px 0 #000;
    width: 80vw
}
#div_envios{
    width: 90%;
    margin: auto;
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(3, 33.3%);
    background-color: #fff;
}
.box_envio{
    margin: auto;
}
.box_envio a{
    color: #000;
    text-decoration: none;
}
.div_imagen img{
    max-width: 100%;
    max-height: 110%;
}
#box_envio1{
    grid-column: 1/3;
    grid-row: 1/2;
}
#box_envio2{
    grid-column: 2/4;
    grid-row: 2/3;
}
#box_envio3{
    grid-column: 1/3;
    grid-row: 3/4;
}
#img_envio img{
    height: 100px;
}
#div_imagen1{
    grid-column: 3/4;
    grid-row: 1/2;
}
#div_imagen2{
    grid-column: 1/2;
    grid-row: 2/3;
}
#div_imagen3{
    grid-column: 3/4;
    grid-row: 3/4;
}
#div_ayuda{
    display: block;
    align-items: center;
    color: rgb(10, 45, 65);
}
#ayuda{
    color: #fff;
    text-align: center;
}
#div_contenedor_ayuda{
    display: flex;
    width: 100%;
    gap: 2em;
    flex-wrap: wrap;
    margin-top: 2em;
    place-content: center;
}
.divs_ayuda{
    background-color: #fff;
    padding: 1em;
    width: 45%;
    border-radius: 10px;
}
.divs_ayuda li{
    list-style: none;
    margin-top: 1em;
}
.divs_ayuda p{
    margin-top: 1em;
}
.divs_ayuda h3{
    margin: 1em, 0, 1em, 0;
}
#div_nosotros{
    display: flex;
    flex-direction: column;
    color: white;
    margin: 2em;
}
#div_nosotros h2{
    text-align: center;
}
#div_nosotros p{
    margin-top: 0.7em;
}
#div_nosotros iframe{
    box-shadow: 0 0 40px 0 #000;
    border-radius: 10px;
}
#div_links{
    display: flex;
    flex-direction: column;
    margin: 5px;
    color: white;
    text-align: justify;
}
#div_oficinas{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    place-content: center;
}
#div_iframe_oficina{
    height: 450px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 0;
    box-shadow: 0 0 40px 0 #000;
}
.div_block_oficina{
    margin: 10px;
    margin-top: 20px;
}
#FAQ{
    display: flex;
    width: 100%;
    gap: 2em;
    flex-wrap: wrap;
    margin-top: 2em;
    place-content: center;
}
#FAQ_H1{
    color: #fff;
    text-align: center;
}
.divs_faq{
    background-color: #fff;
    padding: 1em;
    width: 30%;
    margin: 10px;
    border-radius: 10px;
    color: rgb(10, 45, 65);
}
.divs_faq a{
    text-decoration: none;
    color: rgb(10, 45, 65);
}
article{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.formularios{
    width: 50vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.formularios label{
    margin: 1.5em;
}
.formularios input{
    border-radius: 10px;
    text-align: center;
    height: 2em;
}
.formularios textarea{
    margin-bottom: 3em;
    border-radius: 10px;
    padding: 10px;
    min-height: 4em;
}
.formularios button{
    width: fit-content;
    border-radius: 10px;
}
.formularios h3{
    margin-top: 0.5em;
}
.formularios p{
    margin: 0.5em;
}
/* MAIN */

/* FOOTER */
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1em 0;
  }
#div_footer{
    display: grid;
    grid-template-columns: repeat(3,33.33%);
    padding: 1em;
}
.div_footer_class{
    margin-inline: 1em;
    display: flex;
    flex-direction: column;
}
#div_footer a{
    color: white;
    text-decoration: none;
}
/* FOOTER */